* {
  /* border: 1px solid black; */
}

@keyframes choiceActionFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.choice {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.1em;
  cursor: default;

  .main {
    display: flex;

    .markers {
      border-right: 1px solid black;
      display: absolute;
      text-align: center;
      padding: 0px 5px;
    }

    .markers_horizontal {
      display: flex;
    }

    .markers_vertical {
      width: 15px;
    }

    .marker {
      min-width: 15px;
      min-height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .disabled {
      text-decoration: line-through;
    }

    .folded {
      padding: 0 5px;
      margin: auto;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .expanded {
      padding: 0px 5px;
      margin:auto;
      min-width: 0;

      .choice_name {
        text-align: center;
        /* Forces text into a straight line and does not wrap to the next line. */
        white-space: nowrap;
        /* Causes text to be contained within the parent container. */
        overflow: hidden;
        /* How hidden overflow content is signaled to users. */
        text-overflow: ellipsis;
        /* Other */
        vertical-align: top;
        /* font-weight: bold; */
        /* font-size: 1em; */
        /* width:50%; */
      }

      .choice_value {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        font-style: italic;
        font-size: 0.8em;
      }

      .choice_labels {
        text-align: left;
        font-size: 0.8em;
      }
    }
  }

  .nested {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-top: 1px solid black;
    min-width: 0;
  }

  .options {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;

    position: absolute;
    width: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: 1s choiceActionFadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;

    .option {
      width: 100%;
      text-align: center;
    }

    .left {
      border-right: 1px solid black;
    }

    .right {
      border-left: 1px solid black;
    }
  }
}
