* {
  /* border: 1px solid black; */
}

@keyframes choiceActionFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.disabled {
  color: white;
  background-color: black;
  border-color: white;
}

.enabled {
  color: black;
  background-color: white;
  border-color: black;
}

.choice {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin: 0.1em;
  cursor: default;

  .main {
    display: flex;
    /* There's no default value for border color, it must be inherited. */
    border-color: inherit;

    .markers {
      border-color: inherit;
      border-width: inherit;
      display: absolute;
      padding: 0px 5px;
      text-align: center;
    }

    .markers_left {
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: inherit;
    }

    .markers_right {
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: inherit;
    }

    .markers_horizontal {
      display: flex;
    }

    .markers_vertical {
      width: 15px;
    }

    .marker {
      min-width: 15px;
      min-height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .folded {
      padding: 0 5px;
      margin: auto;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .expanded {
      padding: 0px 5px;
      margin: auto;
      min-width: 0;

      .choice_name {
        text-align: center;
        /* Forces text into a straight line and does not wrap to the next line. */
        white-space: nowrap;
        /* Causes text to be contained within the parent container. */
        overflow: hidden;
        /* How hidden overflow content is signaled to users. */
        text-overflow: ellipsis;
        /* Other */
        vertical-align: top;
        /* font-weight: bold; */
        /* font-size: 1em; */
        /* width:50%; */
      }

      .choice_value {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        font-style: italic;
        font-size: 0.8em;
      }
    }
  }

  .nested {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: inherit;

    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 0;
  }

  .options {
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;

    position: absolute;
    width: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: 1s choiceActionFadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;

    .option {
      width: 100%;
      text-align: center;
    }

    .left {
      border-right: 1px solid black;
    }

    .right {
      border-left: 1px solid black;
    }
  }

  .labels {
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;

    position: absolute;
    width: 100px;

    padding: 5px;
    text-align: left;
    font-size: 0.8em;

    animation: 1s choiceActionFadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
}
