.tooltip {
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  z-index: 999;
  position: absolute;
  padding: 5px;
  margin-left: 10px;
  max-width: 500px;

  border-radius: 10px;

  background-color: black;
  color: white;

  /* Reset settings of the parent component */
  white-space: normal;
  font-style: normal;
  text-align: left;

  /* Time and type of the animation */
  animation: 1s tooltipFadeIn;
  /* Keep the element after the animation */
  animation-fill-mode: forwards;
  /* Delay the animation */
  animation-delay: 1s;
  /* Initially the component should be hidden */
  visibility: hidden;
}

@keyframes tooltipFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
