.canvas {
  /* position: relative; */
}

.main {
  display: flex;
  /* position: relative; */
}

.parameter {
  /* width: 300px; */
  /* min-width: 300px; */
  /* position: relative; */
}

.header {
  button {
    width: 100px;
    margin: 10px;
  }
}

.text {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 0;
}

.button {
  &--next {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 2.2rem;
    width: 10rem;
    margin-left: 0.1rem;
    padding: 0 2rem;
    text-transform: uppercase;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}