.container {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;

  &--top {
    width: 23rem;
  }

  &--nested {
    width: 100%;
  }

  &--folded {
    width: 4rem;
    height: 30rem;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
}
