.parameter {
    border: 1px solid black;
    /* width: 200px; */
    /* width: 100%; */
    margin: 5px;
    padding: 5px;
}

.header {
    border-color: inherit;
    border-bottom: 1px solid;
    text-align: center;
    text-transform: uppercase;
}

.elements {
    
}