@mixin default() {
  cursor: default;
  display: inline-block;
  width: 2rem;
  padding-left: 1rem;
  margin-left: -1rem;
  overflow: hidden;
  opacity: 0;

  transition: opacity 0.25s, width 0.25s 0.25s;
}

.panel-parameter {
  @include default();

  &--active {
    @include default();

    &:hover {
      width: 12rem;
      opacity: 1;

      transition: width 0.25s 1s, opacity 0.25s 1.25s;
    }
  }
}
