.parameter {
  cursor: default;
  
  // animation: animateParameter 0.25s ease-out;

  &--folded {
    width: 22rem;
    transform: rotate(90deg) translateX(-16.5rem);
    transform-origin: left bottom;
  }

  &--default {
    width: 100%;
  }
}

// -----------------------------------------------------------

@keyframes animateParameter {
  0% {
    opacity: 0;
    transform: translateX(-2.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
