@keyframes labelActionFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.labels {
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  background-color: white;

  position: absolute;
  width: 100px;

  padding: 5px;
  text-align: left;
  font-size: 0.8em;

  animation: 1s labelActionFadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;

  z-index: 999;
}
