.disabled {
  color: white;
  background-color: black;
  border-color: white;
}

.enabled {
  color: black;
  background-color: white;
  border-color: black;
}

.choice {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin: 0.1em;
  cursor: default;
}
