.markers {
  border-color: inherit;
  border-width: inherit;
  display: absolute;
  padding: 0px 5px;
  text-align: center;
}

.marker {
  min-width: 15px;
  min-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: inherit;
}

.right {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: inherit;
}

.horizontal {
  display: flex;
}

.vertical {
  width: 15px;
}
