.button {
  &--next {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 2.2rem;
    width: 10rem;
    margin-left: 0.1rem;
    padding: 0 2rem;
    text-transform: uppercase;

    transition: all 0.25s;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}
