.button {

  &--text {
    text-align: center;
    text-transform: uppercase;
  }

  &--next {
    cursor: default;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 1.5rem;
    max-height: 4rem;
    
    // transition: all 0.1s;

    // &:hover {
    //   color: white;
    //   background-color: black;
    // }
  }
}
