// * {
//   border: 0.1rem solid black;
// }

.container {
  display: flex;
  position: relative;
  padding: 0 0.25rem;
  padding-bottom: 0.25rem;

  &--top {

  }

  &--nested {
    width: 100%;
    margin: 1rem 0;
  }

  &--folded {
    width: 4rem;
    height: 30rem;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
}
