.parameter-header {
  position: relative;
  
  text-align: center;
  padding: 0.25rem 0;
}

.parameter-input {

  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;

  border: none;

  text-align: center;

  &:focus {
    outline: none;
  }
}

.parameter-label {
  position: absolute;
  top: 3rem;
  left: 0;
  opacity: 0;
  white-space: nowrap;

  transition: opacity 1s;
}

.parameter-input:focus + .parameter-label {
  opacity: 1;
}

.underline {
  border-bottom: 0.1rem solid;
}

.line {
  text-decoration: line-through;
}

.default {
  background-color: white;
  color: black;
}

.negative {
  background-color: black;
  color: white;
}
