.main {
  border: 0.1rem solid;
  border-radius: 10px;
  padding: 0.5rem;

  &--top {
    width: 25rem;
  }

  &--nested {
    width: 100%;
  }

  &--ephemeral {
    border: 1px dashed black;
  }

  &--negative {
    background-color: black;
    color: white;
  }

  &--default {
    background-color: white;
    color: black;
    border-color: black;
  }
}
