.header {
  position: relative;
  padding: 0.25rem 0;

  text-align: center;

  &__input {
    border: none;

    text-align: center;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;

    &:focus {
      outline: none;
    }

    &::selection {
      color: white;
      background: black;
    }
  }

  &__label {
    position: absolute;
    top: 3rem;
    left: 0;
    opacity: 0;
    white-space: nowrap;

    transition: opacity 1s;
  }
}

.header__input:focus + .header__label {
  opacity: 1;
}

.color {
  &--default {
    background-color: white;
    color: black;
  }

  &--negative {
    background-color: black;
    color: white;
  }
}

.style {
  &--stroke {
    text-decoration: line-through;
  }

  &--underline {
    border-bottom: 0.1rem solid;
  }
}

.options-header-left {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0.5rem;
}

.options-header-right {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0.5rem;

  z-index: 20;
}

.menu-panel {
  &__overlay {
    position: absolute;
    top: -1.5rem;
    right: -18rem;
    width: 20rem;
    height: 15rem;
    z-index: 10;
  }

  &__main {
    position: absolute;
    top: 1.75rem;
    left: 3rem;
    z-index: 100;
    width: 15rem;

    background-color: white;

    border: 1px solid black;
    border-radius: 0.4rem;

    box-shadow: 0.3rem 0.3rem 0.3rem rgba(black, 0.2);

    opacity: 0;

    ul {
      list-style-type: none;

      text-align: left;

      li {
        cursor: pointer;
        padding: 0 1rem;

        &:hover {
          background-color: lightgrey;
        }
      }
    }
  }

  &__header {
    border-bottom: 1px solid black;
    background-color: lightgray;

    font-weight: 700;
  }

  &__title {
    display: inline-block;
  }

  &__close {
    cursor: pointer;

    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;

    padding: 0 0.5rem;
  }
}

.menu-panel__overlay:hover > .menu-panel__main {
  opacity: 1;
}

.header:hover .menu-panel__main {
  opacity: 1;
}