.container {
  display: flex;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &--nested {
    width: 100%;
    margin: 1rem 0;
  }

  &--folded {
    animation: animateRotation 0.3s;
    animation-fill-mode: forwards;
  }
}

@keyframes animateRotation {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 0;
    opacity: 0;
    transform: translateY(0) rotateZ(0) ;
    transform-origin: left bottom;
  }
  50% {
    width: 0;
    opacity: 1;
    transform: translateY(0) rotateZ(90) ;
    transform-origin: left bottom;
  }
  100% {
    width: 0;
    transform: translateY(-100%) rotateZ(90deg) ;
    transform-origin: left bottom;
  }
  
}