@mixin common {
  cursor: default;

  margin-top: -2rem;

  overflow: hidden;
  opacity: 0;

  width: 2rem;

  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.panel-parameter {
  @include common;

  &--active {
    @include common;

    transition: opacity 0.1s, width 0.1s 0.2s;

    &:hover {
      width: 11.5rem;

      opacity: 1;
      transition: width 0.2s 0.6s, opacity 0.2s 0.8s;
    }
  }
}

.panel-parameter--empty {
  @include common;
}

.panel-parameter__icon {
  cursor: pointer;
  position: absolute;
  left: 0.25rem;
  top: -0.21rem;

  width: 1.5rem;
  height: 1.5rem;

  border: 1px solid black;
  border-radius: 50%;

  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;

  z-index: -1;

  transition: 0.2s;
  animation: animationIcon 0.2s ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;

  opacity: 0;
}

@keyframes animationIcon {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
