.container {
  display: flex;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 0.25rem;

  &--nested {
    width: 100%;
    margin: 1rem 0;
  }

  &--folded {
    margin-left: 1rem;
    width: 3rem;
    height: 31rem;
    justify-content: space-around;
    flex-flow: column;
  }
}
