@mixin common {
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(black, 0.2);
}

.position {
  &--top {
    width: 25rem;
  }

  &--nested {
    width: 100%;
  }
}

.style {
  &--ephemeral {
    @include common;

    border: 1px dashed black;
  }

  &--negative {
    @include common;

    border: 0.1rem solid;
    color: white;
    background-color: black;
  }

  &--default {
    @include common;
    
    border: 0.1rem solid;
    border-color: black;
    color: black;
    background-color: white;
  }
}
