.parameter {
  cursor: default;

  &--nested {
    width: 100%;
  }

  &--animated {
    animation: animateParameter 0.25s ease-out;
  }
}

// -----------------------------------------------------------

@keyframes animateParameter {
  0% {
    opacity: 0;
    transform: translateY(-2.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
