/* * {
  border: 1px solid red;
} */

.prompt {
  border: 1px solid black;
  width: 20vw;
  min-width: 40rem;
  border-radius: 0.5rem;
  padding: 0px 5px;
  animation: fadeIn 0.25s ease-in;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  background-color: white;
  position: relative;
  z-index: 200;
}

.header {
  display: flex;
  border-bottom: 1px solid black;
  cursor: default;
}

.header_text {
  text-align: center;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
}

.header_close {
  color: white;
  background-color: black;
  border-left: 1px solid black;
  text-align: center;
  width: 2.5rem;
}

.text {
  padding: 1rem;
  cursor: default;
}

.input {
  width: 100%;
  padding-left: 0.5rem;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0;
  cursor: default;
}

.option {
  width: 10rem;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.option:hover {
  color: white;
  background-color: black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.ok {
}

.cancel {
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
