.prompt {
  border: 1px solid black;
  width: 20vw;
  min-width: 250px;
  border-radius: 5px;
  padding: 0px 5px;
}

.header {
  text-align: center;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

.text {
  padding: 10px;
}

.input {
  width: 100%;
}

.footer {
  width: 100%;
  display: block;
  margin: 10px 0;
}

.ok {
  width: 100px;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.cancel {
    width: 100px;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
